.image-selector {
    display: grid;
    grid-template-columns: 5fr 3fr;
    width: 100%;
    height: 760px;
    max-width: 1280px;

    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-tabs, 16px);
    font-weight: var(--text-weight-main, 300);
}

.image-selector__content,
.image-selector__pages {
    display: grid;
}

.image-selector__image,
.image-selector__page {
    grid-area: 1 / 1;
    opacity: 0;
}

.image-selector__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition: opacity 0.3s ease-in-out;
}

.image-selector__image_active,
.image-selector__page_active {
    opacity: 1;
}

.image-selector__description {
    position: relative;
    margin-left: -32px;
    padding: 48px;

    background-color: #E3E4E8;
    border-radius: 24px;

    z-index: 1;
}

.image-selector__page {
    color: #83766E;

    pointer-events: none;

    transition: opacity 0.3s ease-in-out;
}

.image-selector__page_active {
    pointer-events: auto;
}

.image-selector__title {
    margin-bottom: 64px;

    font-size: 20px;
    font-weight: var(--text-weight-semibold, 400);
}

.image-selector__subtitle {
    margin-bottom: 24px;

    color: #000000;
}

.image-selector__pos {
    display: flex;
    align-items: flex-end;

    padding-top: 24px;
    margin-bottom: 24px;

    border-top: 1px solid var(--gray, #656565);
}

.image-selector__value {
    padding-right: 16px;

    font-size: 56px;
    font-weight: var(--text-weight-semibold, 400);

    white-space: nowrap;
}

.image-selector__key {
    font-size: 16px;
}

.image-selector__controls {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0 36px 36px;
}

.image-selector__button {
    cursor: pointer;
}

.image-selector__button:first-child {
    margin-right: 24px;
}

@media screen and (max-width: 1280px) {
    .image-selector__value {
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .image-selector__description {
        margin-left: -60px;
    }

    .image-selector__title {
        margin-bottom: 48px;

        font-size: 18px;
    }

    .image-selector__pos {
        padding-top: 21px;
        margin-bottom: 21px;
    }

    .image-selector__value {
        font-size: 42px;
    }
}

@media screen and (max-width: 768px) {
    .image-selector {
        display: block;

        height: auto
    }

    .image-selector__description {
        margin-top: -32px;
        margin-left: 0;
        padding: 24px 24px 48px;
    }

    .image-selector__subtitle {
        margin-bottom: 21px;
    }

    .image-selector__page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .image-selector__specs {
        display: flex;
        flex-wrap: wrap;
    }

    .image-selector__pos {
        margin-right: 20px;
    }

    .image-selector__value {
        font-size: 36px;
    }

    .image-selector__controls {
        padding: 0 20px 20px;
    }
}
